<div class="body">
<p class="text-center">
  Copyright © {{year}} Abhijeet Singh
</p>

<div class="row" class="icons text-center">

         <a class="font" href="https://www.linkedin.com/in/abhijeet-singh-khangarot-7a6792126/" target="_blank"><i class="fa fa-linkedin-square"></i></a>

        <a class="font git" href="https://github.com/abhi40308" target="_blank"><i class="fa fa-github"></i></a>

        <a class="font gp" href="https://plus.google.com/u/0/108829467037550076358" target="_blank"><i class="fa fa-google-plus-official"></i></a>

        <a class="font fb" href="https://www.facebook.com/abhijeetsingh.khangarot" target="_blank"><i class="fa fa-facebook-square"></i></a>

        <a class="font tw" href="https://twitter.com/abhi40308" target="_blank"><i class="fa fa-twitter"></i></a>

        <a class="font q" href="https://www.quora.com/profile/Abhijeet-Singh-676" target="_blank"><i class="fa fa-quora"></i></a>
</div>

</div>